# ==========================================
# FastAPI Application Configuration
# ==========================================
APP_NAME=XDR Security Platform - El Shorouk Academy
APP_VERSION=2.0.0
DEBUG=True

# ==========================================
# ==========================================
# JWT Security Settings
# ==========================================
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# ==========================================
# Wazuh API Integration
# ==========================================
# The URL of your Wazuh Manager API (Default port is 55000)
WAZUH_API_URL=https://127.0.0.1:55000
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=wazuh-wui
WAZUH_VERIFY_SSL=False
